* {
    margin:0px;
    padding:0px;
}

nav {
    background:#5B9507;
    width:90%;
    max-width:1000px;
    margin:0 auto;
}

ul, ol {
    list-style:none;
    background:#5B9507;
}

.nav {
    background:#5B9507;
    width:90%; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
}

.nav > li {
    background:#5B9507;
    float:left;
}

.nav li a {
    background:#5B9507;
    color:#C3CC07;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#357810;
}

.nav li ul
{
    background:#5B9507;
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}


.menu_bar {
    display:none;
}
