<div style="width: 100%" >

       <style>
        .wrapper
        {
            overflow:hidden;
            width:100%;
        }
        .wrapper ul
        {
            list-style: none;
            width:100%;
            margin-top:-10px;
        }

        ul li img {
            width:100px;
            height:75px;
            float:left;
            margin:10px 10px 0 0;
            border: 1px #050406;
        }
    </style>



    <div style="padding-left:5%;display:inline; width: 50%; float: left;height:auto" >
        <h4>Productos disponibles</h4>
        <div class="wrapper">
            <ul>
                <li ng-click="agregarAcarrito($index)" ng-repeat="producto in productos track by $index">
                    <img src="../shared/images/{{producto.r_imagen}}"  ng-click="console.log($index);">
                </li>
            </ul>
        </div>
    </div>

    <div  style="display: inline;float: left; width: 50%;">

        <h4>Orden parcial</h4>
        <table width="100%">
            <thead style="background: #D7DF01; border: 1px #ff6d50; color: #000; ">
            <tr>  <td>Producto</td>  <td>Cantidad</td>  <td>Precio</td> </tr>
            </thead>
            <tbody>
            <tr ng-repeat="producto in pedido.detalles">
                <td>{{producto.nombre}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.precio}}</td>
            </tr>
            </tbody>
        </table>
            <input style="float: right" type="text" ng-model="pedido.monto">
            <span style="float: right">Total:</span>
        <br>
        <br>
            <button type="button" ng-click="confirmarPedido()"  class="btn" style="background: #5B9507;float: right;"> Confirmar pedido </button>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
</div>