<div class="container-fluid">
    <h3>Productos</h3>
    <div>

        <div class="form-group">
            <label for="i1">Nombre cliente</label>
            <input  id="i1" class="form-control" >
        </div>
        <div>
            <table class="table table-hover dashboard-task-infos">
                <thead>
                <tr><th>Nombre producto</th><th>Cantidad</th><th>monto</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="pedido in productosPedidos">
                    <td>{{pedido["r_nombre"]}}</td>
                    <td>{{pedido["r_cantidad"]}}</td>
                    <td>{{pedido["r_monto"]}}</td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label for="i2">Monto</label>
                <input  id="i2" class="form-control" >
            </div>
        </div>


        <div class="form-group">
            <a ng-click="aceptarPedido()">Aceptar
                <i class="material-icons">assignment</i>
            </a> <a ng-click="eliminarPedido">Eliminar
            <i class="material-icons">assignment</i>
        </a> <a ng-click="siguientePedido()">Siguiente
            <i class="material-icons">assignment</i>
        </a>
        </div>
    </div>
</div>