<div class="container-fluid">
    <style>
        .wrapper
        {
            overflow:hidden;
            width:100%;
        }
        .wrapper
        {
            list-style: none;
            width:100%;
            margin-top:-10px;
        }

        img {
            width:100px;
            height:75px;
            float:left;
            margin:10px 10px 0 0;
            border: 1px #050406;
        }
    </style>

    <center>
        <h3>Productos</h3>
        <div style="display: inline-flex" >
        <div  style="width: 300px; border: 1px solid #c9432e">
            <div class="form-group">
                <label style="background:#C3CC07" for="i2">Nombre_</label>
                <input ng-model="productoActual.r_nombre" id="i2" class="form-control">
                <br>
                <label  style="background:#C3CC07" for="i3">Precio___</label>
                <input  ng-model="productoActual.r_precio"  id="i3" class="form-control">
                <br>
                <br>
                <br>
                <br>
            </div>

            <button ng-click="anterior()"> < Anterior</button>
            <button ng-click="guardar()">Guardar</button>
            <!--<button ng-click="eliminar()">Eliminar</button>-->
            <button ng-click="siguiente()">Siguiente ></button>
        </div>
        <div style="float: left">
            <img ng-src="../shared/images/{{productoActual.r_imagen}}">
        </div>
    </div>


</center>
</div>