<div class="container-fluid">

    <div style="border: 1px solid #c9432e">
    <h3>Productos</h3>
    <div>
        <div class="form-group">
            <label for="i2">Nombre</label>
            <input  id="i2" class="form-control">
        </div>
        <div class="form-group">
            <label for="i3">Precio</label>
            <input  id="i3" class="form-control">
        </div>

        <div class="form-group">
            <label for="i4">Cantidad</label>
            <input  id="i4" class="form-control">
        </div>
    </div>

    <div>
        <img src="">
    </div>

    <div class="form-group">
        <a ng-click="guardarProducto()">Guardar
            <i class="material-icons">assignment</i>
        </a> <a ng-click="guardarProducto()">Eliminar
        <i class="material-icons">assignment</i>

    </a> <a ng-click="guardarProducto()">Siguiente
        <i class="material-icons">assignment</i>
    </a>
    </div>
    </div>
</div>